*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
}
.circle{
    width: 240px;
    height: 240px;
    position: relative;
    border-radius: 50%;
    border: 30px solid rgb(73, 73, 73);
    animation: loop 6s linear infinite;
    left: 15px;
}
@keyframes loop {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle:nth-child(2){
    animation: anti-loop 6s linear infinite;
    animation-delay: 3s;
    left: -15px;
}
@keyframes anti-loop {
    0%{
        transform: rotate(360deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.d{
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.circle:nth-child(2) .d{
    transform: translate(-50%, -50%) rotate(-90deg);
}
.ball{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    transform: translate(0%, -100%);
}