*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#steve{
    width: 200px;
    height: 450px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#head{
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform-origin: bottom center;
}
#shoulder, #waist{
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
}
#waist{height: 150px;}
.arm{
    width: 50px;
    height: 150px;
    transform-style: preserve-3d;
    transform-origin: top center;
}
.top, .bottom{
    position: relative;
    transform-style: preserve-3d;
    transform-origin: top center;
}
#vest{
    width: 100px;
    height: 150px;
    transform-style: preserve-3d;
}
span{
    position: absolute;
    top: 0;
    left: 0;
}
#head span:nth-child(1){
    width: 100px;
    height: 100px;
    transform: rotateY(0deg) translate3d(0px, 0, -50px);
    background: url("img/backface.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#head span:nth-child(2){
    width: 100px;
    height: 100px;
    transform: rotateY(90deg) translate3d(-0px, 0, 50px);
    background: url("img/leftface.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#head span:nth-child(3){
    width: 100px;
    height: 100px;
    transform: rotateY(0deg) translate3d(0px, 0, 50px);
    background: url("img/frontface.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#head span:nth-child(4){
    width: 100px;
    height: 100px;
    transform: rotateY(90deg) translate3d(-0px, 0, -50px);
    background: url("img/leftface.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 10;
}
#head span:nth-child(5){
    width: 100px;
    height: 100px;
    transform: rotateX(90deg) translate3d(0px, 0px, 50px);
    background: url("img/top.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 10;
}
#head span:nth-child(6){
    width: 100px;
    height: 100px;
    transform: rotateX(90deg) translate3d(0px, 0px, -50px);
    background: url("img/bottom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 10;
}
.arm span:nth-child(1){
    width: 50px;
    height: 150px;
    transform: rotateY(0deg) translate3d(0px, 0, -25px);
    background: #4e2a00;
}
.arm span:nth-child(2){
    width: 50px;
    height: 150px;
    transform: rotateY(90deg) translate3d(0px, 0, 25px);
    background: #4e2a00;
}
.arm span:nth-child(3){
    width: 50px;
    height: 150px;
    transform: rotateY(0deg) translate3d(0px, 0, 25px);
    background: #4e2a00;
}
.arm span:nth-child(4){
    width: 50px;
    height: 150px;
    transform: rotateY(90deg) translate3d(-0px, 0, -25px);
    background: #4e2a00;
}
.arm span:nth-child(5){
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) translate3d(0px, 0px, 25px);
    background: #4e2a00;
}
.arm span:nth-child(6){
    width: 50px;
    height: 50px;
    transform: rotateX(90deg) translate3d(0px, 0px, -125px);
    background: #4e2a00;
}
.hand{transform: rotateX(30deg);}
.hand .bottom{
    top: 75px;
    left: -25px;
    transform: rotateZ(-90deg);
}
#righthand .bottom{transform: rotateZ(90deg); left: 25px;}
.hand .top span{height: 75px;}
.hand .bottom span{height: 100px;}
.hand .top span:nth-child(5), .hand .top span:nth-child(6), .hand .bottom span:nth-child(5), .hand .bottom span:nth-child(6){height: 50px;}
.hand .top span:nth-child(6), .hand .bottom span:nth-child(6){transform: rotateX(90deg) translate3d(0px, 0px, -50px);}
#vest span:nth-child(1){
    width: 100px;
    height: 150px;
    transform: rotateY(0deg) translate3d(0px, 0px, -25px);
    background: url("img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#vest span:nth-child(2){
    width: 50px;
    height: 150px;
    transform: rotateY(90deg) translate3d(-0px, 0, 75px);
    background: url("img/left.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#vest span:nth-child(3){
    width: 100px;
    height: 150px;
    transform: rotateY(0deg) translate3d(0px, 0, 25px);
    background: url("img/front.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#vest span:nth-child(4){
    width: 50px;
    height: 150px;
    transform: rotateY(90deg) translate3d(-0px, 0, -25px);
    background: url("img/right.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#vest span:nth-child(5){
    width: 100px;
    height: 50px;
    transform: rotateX(90deg) translate3d(0px, 50px, 25px);
    background: url("img/throat.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#vest span:nth-child(6){
    width: 100px;
    height: 50px;
    transform: rotateX(90deg) translate3d(0px, 50px, -125px);
    background: #ca9864;
    background-image: url("img/waist.jpg");
}
.leg span:nth-child(1){
    background: url("img/frontleg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.leg span:nth-child(2){
    background: url("img/leftleg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}.leg span:nth-child(3){
    background: url("img/backleg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}.leg span:nth-child(4){
    background: url("img/rightleg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}.leg span:nth-child(5){
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("img/waist2.jpg");
}.leg span:nth-child(6){
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("img/shoe.jpg");
}