@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 400px;
    width: 300px;
    border-radius:25px;
    box-shadow: 1px 1px 5px rgb(68, 68, 68);
    margin: 20px;

    position: relative;
}
.card #head{
    height: 50%;
    width: 100%;
    border-radius: 25px 25px 25px 0;
    background: linear-gradient(45deg, rgba(171,43,0,1) 0%, rgba(255,119,0,1) 100%);
    overflow: hidden;
}
#head:hover{
    overflow: visible;
}
.card #head img{
    width: 100%;

    position: relative;
    left: 50%;
    transform: translate(-50%, -10%);

    transition: 0.25s;
}
#head:hover img{
    width: 150%;
}
.card #head::after{
    content: '';
    height: 25px;
    width: 25px;
    background: linear-gradient(135deg, rgba(171,43,0,1) 0%, rgba(255,119,0,1) 100%);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}
.card #foot{
    height: 50%;
    width: 100%;
    background-color: white;
    border-radius:25px 0px 25px 25px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    font-size: 24px;
    overflow: hidden;
}

.card #foot button{
    height: 35px;
    width: 50%;
    color: white;
    background-color: rgba(255,119,0,1);

    border: none;
    border-radius: 5px;

    font-size: 16px;
    transition: 0.25s;
}
.card #foot button:hover{
    background-color: rgba(171,43,0,1);
    cursor: pointer;
}
