*{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(56, 32, 121);
}
div{
    box-sizing: border-box;
    padding: 12.5px;
    position: relative;
    border-radius: 100px;
    height: 50px;
    width: 25%;
    overflow: hidden;
    background: linear-gradient(90deg, #8567f0, #6772f0);
}
button{
    background: linear-gradient(90deg, rgb(75, 31, 196), rgb(49, 156, 255));
    border: none;
    border-radius: 100px;
    height:50px;
    width: 150px;
    letter-spacing: 5px;
    position: relative;
    overflow: hidden;
}

span{
    background: radial-gradient(#846bdf, #fff);
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: animate 1s linear infinite;
}
@keyframes animate {
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

