
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #031321;
    font-family: consolas;
}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
}
a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
}
a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
a:nth-child(1) span{
    background: linear-gradient(90deg, transparent,#2196f3);
}
a:nth-child(2) span{
    background: linear-gradient(90deg, transparent,#75f321);
}
a:nth-child(3) span{
    background: linear-gradient(90deg, transparent,#f321f3);
}
a:nth-child(1){
    color: #2196f3;
}
a:nth-child(2){
    color: #75f321;
}
a:nth-child(3){
    color: #f321f3;
}
a:nth-child(1):hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}
a:nth-child(2):hover{
    color: #258435;
    background: #75f321;
    box-shadow: 0 0 10px #75f321, 0 0 40px #75f321, 0 0 80px #75f321;
    transition-delay: 1s;
}
a:nth-child(3):hover{
    color: #842568;
    background: #f321f3;
    box-shadow: 0 0 10px #f321f3, 0 0 40px #f321f3, 0 0 80px #f321f3;
    transition-delay: 1s;
}

